$default-font: sans-serif;


body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-size: cover;
	background-position: center;
	font-family: $default-font;
}

.contact-title {
	margin-top: 100px;
}

.contact-title h1 {
	font-size: 32px;
}